
{% extends 'base.html' %}

{% block body %}

    <h2>{% url 'blog:index' %}</h2>

<h2>分类主题</h2>
<ul>
{% for topic in topics %}
    <li><a href="/article?topic_id={{ topic.id }}">{{ topic.name }}</a></li>
{% endfor %}
</ul>

<h2>标签</h2>
<ul>
{% for tag in tags %}
    <li><a href="/article?tag_id={{ tag.id }}">{{ tag.name }}</a></li>
{% endfor %}
</ul>


<h2>文章</h2>
<ul>
{% for article in articles %}
    <li><a href="/article/{{ article.id }}">{{ article.title }}</a></li>
    <p>{{ article.summary }}</p>
{% endfor %}
</ul>

{% endblock %}