beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
Django==2.0.5
django-js-asset==1.1.0
django-mptt==0.9.0
djangorestframework==3.8.2
get==1.0.3
idna==2.6
Markdown==2.6.11
post==1.0.2
public==1.0.3
Pygments==2.7.4
PyMySQL==0.8.0
pytz==2018.4
query-string==1.0.2
requests==2.18.4
urllib3==1.22
